<div class="product-group">
  <h2><%= @date.strftime("%A, %d de %B de %Y") %></h2>
  <% @products.each do |product| %>
    <% if product.present? %> <!-- Agregar verificación de nil aquí -->
      <%= render(ProductCardComponent.new(product: product)) %>
    <% end %>
  <% end %>
</div>
