.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.product-card p {
  margin: 0;
}

.product-card label {
  display: block;
}

.hidden {
  display: none;
}
